<div class="container">
  <h1>Places</h1>

  <ul class="list-unstyled">
    <% for place in @places %>
      <li style="margin-bottom: 5px;"><a href="/places/<%= place["id"] %>" style="color: black;"><%= place["name"] %></a></li>
    <% end %>
  </ul>

    <p>
    <a href="/places/new/" class="btn btn-primary">New Place</a>
  </p>

</div>
